<h3>Equipment</h3>
<ul>
  <li *ngFor="let equipment of equipments">
  <span *ngIf="equipmentBeingEdited !== equipment; else elseBlock">
    <span (click)="edit(equipment)" class="editable-text">{{equipment.name}}</span>
  <button (click)="remove(equipment)">remove</button>
</span>

<ng-template #elseBlock>
  <input #updateEquipment (keyup.enter)="save(updateEquipment.value)"/>
  <button (click)="save(updateEquipment.value, equipment)">save</button>
</ng-template>
</li>
</ul>

<input #equipmentName type="text"/>
<button (click)="add(equipmentName.value)">Add</button>